.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.examEntry {
    cursor: pointer;
    margin-bottom: 8px;
}

.exams {

}