.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.createExamContainer {
    width: 300px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
}

.questions {

}

.group {
    margin-bottom: 32px;
}

.label {
    margin-right: 8px;
}

.button {
    margin-left: 8px;
    margin-right: 8px;
}

.question {
    margin-bottom: 16px;
    border-bottom: 1px solid gray;
    width: 300px;
}

.questionRow {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.addAnswerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.answer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.answersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}