.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.student {
    cursor: pointer;
    margin-bottom: 8px;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.studentId {
    text-align: right;
    min-width: 70px;
}

.studentName {
    text-align: left;
    min-width: 150px;
}

.actions {
    width: 50px;
}

.header {
    font-weight: bold;
}

.assignStudentContainer {
    width: 300px;
    padding-top: 8px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
}